.example-form-field {
    width: 400px;
}

.categories-section {
    margin-bottom: 20px;
}

.text-section {
    margin-top: 20px;
}

.pitanjeEditorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 64px);
}

.typeSelectionGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}

.answerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}