<mat-card class="example-card">
  <mat-card-title>Kreiraj novu kategoriju</mat-card-title>
  <mat-card-subtitle
    >Pitanja će moći da sadrže ovu kategoriju</mat-card-subtitle
  >
  <mat-card-content>
    <section class="text-section">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Naziv kategorije</mat-label>
        <textarea matInput type="text" [(ngModel)]="value"></textarea>
        <button
          *ngIf="value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </section>
    <mat-divider [inset]="true"></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="value.length < 3" (click)="publish()">
      OBJAVI
    </button>
    <button mat-button (click)="reset()">RESETUJ</button>
  </mat-card-actions>
</mat-card>
