.categoryEditorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 64px);
}

.mainCard {
    width: 500px;
}

.tabTitleMargin {
    margin-top: 20px;
}