<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>17743 - Mihajlo Marjanović - RWA - Pitanja</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon home-icon"
    aria-label="Example icon-button with home icon"
    routerLink="home"
  >
    <mat-icon>home</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with add icon"
    routerLink="pitanje-editor"
  >
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
