<mat-chip-list aria-label="Izbor kategorija" class="listOfCategories">
  <!-- (selectionChange)="promenaKategorija($event)" -->
  <mat-chip
    color="primary"
    (click)="handleAll()"
    [value]="'SVA'"
    [selectable]="true"
    [selected]="typeOfSpecialCategories.ALL === (selectedKategorijaId$ | async)"
  >
    <mat-icon class="chipIcon">all_inclusive</mat-icon>
    SVA
  </mat-chip>
  <mat-chip
    color="primary"
    (click)="handleFeatured()"
    [value]="'ISTAKNUTA'"
    [selectable]="true"
    [selected]="
      typeOfSpecialCategories.FEATURED === (selectedKategorijaId$ | async)
    "
  >
    <mat-icon class="chipIcon">bookmarks</mat-icon>
    ISTAKNUTA
  </mat-chip>
  <mat-chip
    *ngFor="let kategorija of kategorije$ | async"
    color="primary"
    (click)="promenaKategorija(kategorija)"
    [value]="kategorija.name"
    [selectable]="true"
    [selected]="kategorija.id === (selectedKategorijaId$ | async)"
    (removed)="handleDelete(kategorija)"
  >
    {{ kategorija.name }}
    <button *ngIf="(user$ | async)?.type === 'ADMIN'" matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
  <!-- [selected]="kategorija.id === (selectedKategorijaId$ | async)"
  [selectable]="true" -->
  <!-- <mat-chip>Two fish</mat-chip>
  <mat-chip color="primary" selected>Primary fish</mat-chip>
  <mat-chip color="accent" selected>Accent fish</mat-chip> -->
</mat-chip-list>
