<div class="settings">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Podešavanja </mat-panel-title>
        <mat-panel-description>
          Rotirajuća pitanja
          {{ isCyclingQuestions ? "uključena" : "isključena" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-slide-toggle
        aria-label="isCyclingQuestions"
        [(ngModel)]="isCyclingQuestions"
        >Rešeno pitanje ide na kraj: {{ isCyclingQuestions ? "Da" : "Ne" }}
        <!-- color="primary" -->
      </mat-slide-toggle>
      <h4>Filtriraj po tipu pitanja</h4>
      <mat-button-toggle-group
        name="filterByType"
        [value]="currentQuestionsType"
        (change)="handleFilterByType($event.source.value)"
      >
        <mat-button-toggle value="ALL">Sva</mat-button-toggle>
        <mat-button-toggle [value]="typeOfQuestions.BOOL"
          >Tačno / Netačno</mat-button-toggle
        >
        <mat-button-toggle [value]="typeOfQuestions.TEXT"
          >Tekstualna</mat-button-toggle
        >
      </mat-button-toggle-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Focus mode </mat-panel-title>
        <mat-panel-description>
          Focus mode je
          {{ isFocusMode ? "uključen" : "isključen" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-slide-toggle aria-label="isFocusMode" [(ngModel)]="isFocusMode"
        >Fokusirano rešavanje: {{ isFocusMode ? "Da" : "Ne" }}
        <!-- color="primary" -->
      </mat-slide-toggle>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div *ngFor="let pitanje of pitanjaCurrent" class="setPitanjaListContainer">
  <!-- (click)="selectPitanje(pitanje, true)" -->
  <app-pitanje
    [pitanje]="pitanje"
    [isFocusMode]="isFocusMode"
    (submit)="submitAnswer($event)"
  ></app-pitanje>
</div>
<div class="loader" *ngIf="!pitanjaCurrent?.length">
  <mat-spinner></mat-spinner>
</div>
