<!-- [className]="pitanje.isCorrect ? 'correctContainer' : 'incorrectContainer'" -->
<mat-card *ngIf="pitanje" class="pitanjeContainer mat-elevation-z4">
  <mat-card-title [ngClass]="isFocusMode ? 'centeredTitle' : 'titleAndIcon'"
    >{{ pitanje.text
    }}<mat-icon *ngIf="pitanje.isFeatured && !isFocusMode"
      >bookmark_outline</mat-icon
    ></mat-card-title
  >
  <mat-card-subtitle *ngIf="!isFocusMode"
    >{{ datumKreiranja }}
  </mat-card-subtitle>
  <mat-chip-list
    *ngIf="!isFocusMode"
    aria-label="Izbor kategorija u okviru pitanja"
  >
    <mat-chip
      *ngFor="let kategorija of kategorije$ | async"
      color="primary"
      (click)="promenaKategorija(kategorija)"
      [value]="kategorija.name"
      [selectable]="true"
      [selected]="kategorija.id === (selectedKategorijaId$ | async)"
      >{{ kategorija.name }}</mat-chip
    >
  </mat-chip-list>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      [disabled]="(user$ | async)?.type !== 'ADMIN'"
      (click)="toggleFeatured()"
    >
      <mat-icon>{{
        pitanje.isFeatured ? "bookmark_remove" : "bookmark_add"
      }}</mat-icon>
      <span>{{ pitanje.isFeatured ? "Ukloni istak." : "Istakni" }}</span>
    </button>
    <button mat-menu-item (click)="gotoEdit()">
      <mat-icon>edit</mat-icon>
      <span>Izmeni</span>
    </button>
    <button
      mat-menu-item
      [disabled]="(user$ | async)?.type !== 'ADMIN'"
      (click)="handleDelete()"
    >
      <mat-icon>delete</mat-icon>
      <span>Izbriši</span>
    </button>
    <button mat-menu-item (click)="openInfoDialog()">
      <mat-icon>info</mat-icon>
      <span>Informacije</span>
    </button>
  </mat-menu>

  <mat-card-actions [ngClass]="isFocusMode ? 'centeredTitle' : 'cardActions'">
    <div *ngIf="pitanje.type === typeOfQuestion.BOOL">
      <button
        color="primary"
        *ngIf="!isFocusMode"
        mat-stroked-button
        (click)="validacija(true)"
      >
        <mat-icon>check_circle</mat-icon>
        <span>Tačno</span>
      </button>
      <button
        color="primary"
        class="miniFabCorrectButton"
        *ngIf="isFocusMode"
        mat-mini-fab
        (click)="validacija(true)"
      >
        <mat-icon>check</mat-icon>
      </button>
      <button
        color="accent"
        *ngIf="!isFocusMode"
        mat-stroked-button
        (click)="validacija(false)"
      >
        <mat-icon>cancel</mat-icon>
        <span>Netačno</span>
      </button>
      <button
        color="accent"
        *ngIf="isFocusMode"
        mat-mini-fab
        (click)="validacija(false)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div *ngIf="pitanje.type === typeOfQuestion.TEXT">
      <mat-form-field class="inputContainer" appearance="outline">
        <mat-label>Odgovor</mat-label>
        <mat-icon matPrefix>mode_edit</mat-icon>
        <input
          type="text"
          matInput
          [(ngModel)]="userAnswer"
          name="userAnswer"
        />
        <button mat-icon-button matSuffix (click)="handleShowAnswer()">
          <mat-icon>{{
            showAnswer ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <button color="primary" mat-mini-fab (click)="validacija(userAnswer)">
        <mat-icon>check</mat-icon>
        <!-- <span>PROVERI</span> -->
      </button>
    </div>
    <button
      #menuTrigger
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
      *ngIf="!isFocusMode"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-actions>
  <!-- {{ pitanje.dateUpdated }} -- {{ pitanje.dateCreated }} -->
  <!-- <p>{{ pitanje.text }}</p> -->
</mat-card>
